<header class="site-header">
    <div class="container-spec">
        <div class="site-logo">
            <h1>
                <a href="index.html"><img src="./img/logo.png" alt="Logo"></a>
            </h1>
        </div>
        <!-- Main Navigation -->
        <nav class="main-navigation" role="navigation" style="display: block;">
            <ul class="sf-menu sf-js-enabled">
                <li><a href="#home">Home</a></li>
                <li><a href="#speakers">Speakers</a></li>
                <li><a href="#venue">Venue</a></li>
                <li><a href="#schedule">Schedule</a></li>
                <li><a href="#partners">Partners</a></li>
                <li><a href="#about">About</a></li>
                <li class="highlight"><a href="#register">Register</a></li>
            </ul>
        </nav>
        <a href="#" class="visible-sm visible-xs" id="menu-toggle"><i class="fa fa-bars"></i></a>
    </div>
</header>