<div class="showcase wheighter" style="height: 509px;">
    <!-- Start Hero Slider -->
    <div class="hero-slider flexslider wheighter" data-autoplay="yes" data-pagination="no" data-arrows="no" data-style="fade" data-speed="5000" data-pause="yes" style="height: 509px;">
        <ul class="slides">
            <li class="parallax parallax1 wheighter flex-active-slide" style="width: 100%; float: left; margin-right: -100%; position: relative; display: list-item; height: 509px; background-image: url(./img/slide2.jpg); background-origin: padding-box; background-position: 50% 0px; background-repeat: no-repeat;"></li>
            <li class="parallax parallax2 wheighter" style="width: 100%; float: left; margin-right: -100%; position: relative; height: 509px; display: none; background-image: url(./img/slide1.jpg); background-origin: padding-box; background-position: 50% 0px; background-repeat: no-repeat;"></li>
        </ul>
    </div>
    <!-- End Hero Slider -->
    <div class="event-hero-info" style="display: block;">
        <div class="container">
            <div class="event-info">
                <span class="fl appear-animation fadeInDown appear-animation-visible" data-appear-animation="fadeInDown" data-appear-animation-delay="200" style="-webkit-animation: 200ms;">Come Say</span>
                <span class="sl appear-animation zoomIn appear-animation-visible" data-appear-animation="zoomIn" data-appear-animation-delay="500" style="-webkit-animation: 500ms;">Hello</span>
                <span class="tl appear-animation fadeInDown appear-animation-visible" data-appear-animation="fadeInDown" data-appear-animation-delay="700" style="-webkit-animation: 700ms;">at CityClub, Chicago IL</span>
                <span class="event-date appear-animation fadeInUp appear-animation-visible" data-appear-animation="fadeInUp" data-appear-animation-delay="900" style="-webkit-animation: 900ms;">15-16 December, 2014</span>
            </div>
        </div>
    </div>
</div>


