<section class="onepage-section lgray-bg" id="speakers">
    <div class="container">
        <header class="onepage-section-headers text-align-center">
            <h3 class="page-title">Speakers</h3>
            <h2 class="page-stitle">Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus imperdiet justo.</h2>
            <a href="#" class="btn btn-primary btn-lg">Meet all speakers</a>
        </header>
        <div class="row">
            <ul class="team-grid">
                <li class="col-md-4 col-sm-4 team-item">
                    <div class="team-item-image">
                        <img src="./img/speaker4.jpg" alt="">
                        <div class="team-item-overlay">
                            <div class="team-item-overlay-inner">
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-globe"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="team-item-cont">
                        <h5>Max Nguyen</h5>
                        <span class="meta-data">Soulbell</span>
                    </div>
                </li>
                <li class="col-md-4 col-sm-4 team-item">
                    <div class="team-item-image">
                        <img src="./img/speaker2.jpg" alt="">
                        <div class="team-item-overlay">
                            <div class="team-item-overlay-inner">
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-globe"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="team-item-cont">
                        <h5>Summer Taylor</h5>
                        <span class="meta-data">Soulbell</span>
                    </div>
                </li>
                <li class="col-md-4 col-sm-4 team-item">
                    <div class="team-item-image">
                        <img src="./img/speaker6.jpg" alt="">
                        <div class="team-item-overlay">
                            <div class="team-item-overlay-inner">
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-globe"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="team-item-cont">
                        <h5>Harry Ryan</h5>
                        <span class="meta-data">Soulbell</span>
                    </div>
                </li>
                <li class="col-md-3 col-sm-6 team-item">
                    <div class="team-item-image">
                        <img src="./img/speaker7.jpg" alt="">
                        <div class="team-item-overlay">
                            <div class="team-item-overlay-inner">
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-globe"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="team-item-cont">
                        <h5>Joshua Jones</h5>
                        <span class="meta-data">Soulbell</span>
                    </div>
                </li>
                <li class="col-md-3 col-sm-6 team-item">
                    <div class="team-item-image">
                        <img src="./img/speaker5.jpg" alt="">
                        <div class="team-item-overlay">
                            <div class="team-item-overlay-inner">
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-globe"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="team-item-cont">
                        <h5>Mason Jones</h5>
                        <span class="meta-data">Soulbell</span>
                    </div>
                </li>
                <li class="col-md-3 col-sm-6 team-item">
                    <div class="team-item-image">
                        <img src="./img/speaker3.jpg" alt="">
                        <div class="team-item-overlay">
                            <div class="team-item-overlay-inner">
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-globe"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="team-item-cont">
                        <h5>Matilda Anderson</h5>
                        <span class="meta-data">Soulbell</span>
                    </div>
                </li>
                <li class="col-md-3 col-sm-6 team-item">
                    <div class="team-item-image">
                        <img src="./img/speaker1.jpg" alt="">
                        <div class="team-item-overlay">
                            <div class="team-item-overlay-inner">
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-globe"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="team-item-cont">
                        <h5>William Harris</h5>
                        <span class="meta-data">Soulbell</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="spacer-50"></div>
</section>